@font-face {
    font-family: 'Georgia';
    src: url(./assets/fonts/georgia.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --logo_title: 400 32px/1.1 Georgia, serif;
    --logo_subtitle: 13px Arial, sans-serif;
    --paragraph-l: 15px/1.6 Arial, sans-serif;
    --button-text: 17px/1.3 Georgia, serif;
    --paragraph-mobile-menu: 32px/1.6 Arial, sans-serif;
    --color-primary: #F1CDB3;
    --color-primary-light: #FDDCC4;
    --color-light-xl: #FFFFFF;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-3xl: #292929;
    --color-dark-xl: #4C4C4C;
    --color-dark-l: #545454;
    --color-dark-m: #B2B2B2;
    --color-dark-s: #CDCDCD;
    --start-screen-gradient-background: url("./assets/img/start-screen-bg.png"), radial-gradient(at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
    --footer-gradient-background: url("./assets/img/start-screen-bg.png"), radial-gradient(at 30% 50%, rgb(81, 61, 47) 0%, rgb(26, 26, 28) 100%);
}

html {
    scroll-behavior: smooth;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.block {
    padding: 80px 40px 100px 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font: 44px/1.3 Georgia, serif;
    color: var(--color-light-xl);
    letter-spacing: 0em;
}

h3 {
    font: 35px/1.3 Georgia, serif;
    color: var(--color-dark-l);
    letter-spacing: 0.06em;
}

h4, .h4 {
    font: 20px/1.15 Georgia, serif;
    color: var(--color-dark-l);
    letter-spacing: 0.06em;
}

h5 {
    font: 15px/1.1 Georgia, serif;
    color: var(--color-dark-l);
    letter-spacing: 0.06em;
}

ul {
    text-decoration: none;
    list-style: none;
}

button {
    border: none;
}

body {
    background-color: var(--color-light-xl);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container {
    min-height: 878px;
    background: var(--start-screen-gradient-background),  url("./assets/img/start-screen-bg.png"), radial-gradient(at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0px 40px;
}

.header {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font: var(--logo_title);
    color: var(--color-primary);
    letter-spacing: 0.06em;
    transition: 0.3s ease-in-out;
}

.logo-subtitle {
    font: var(--logo_subtitle);
    color: var(--color-light-xl);
    letter-spacing: 0.1em;
}

.logo:hover > .logo-title {
    color: var(--color-primary-light);
}

.logo:active > .logo-title {
    color: var(--color-light-s);
}

.nav-menu {
    width: 443px;
    display: flex;
    justify-content: space-between;
    font: var(--paragraph-l);
    color: var(--color-dark-s);
    padding-bottom: 1px;
    /* z-index: 100; */
}

.nav-menu-item {
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.nav-menu-item:hover {
    color: var(--color-light-s);
}

.nav-menu-item:active {
    border-bottom: 3px solid var(--color-primary);
    transition: 0.3s linear;
}

.menu-active {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
    cursor: default;
}

.burger-menu {
    display: none;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
}

.burger-line {
    width: 30px;
    height: 2px;
    background-color: var(--color-primary);
}

.blackout {
    background-color: var(--color-dark-3xl);
    opacity: 0;
    transition: opacity 0.3s;
    /* z-index: 2; */
}

.blackout.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}

.start-screen-content {
    min-height: 728px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2%;
}

.not-only {
    max-width: 460px;
    height: 322px;
    margin-top: 163px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-screen-title {
    width: 310px;
}

.start-screen-paragraph {
    font: var(--paragraph-l);
    color: var(--color-dark-s);
}

.button-primary {
    border: 0;
    border-radius: 100px;
    padding: 15px 45px;
    width: 207px;
    height: 52px;
    background: var(--color-primary);
    font: var(--button-text);
    letter-spacing: 0.06em;
    white-space: nowrap;
    transition: 0.4s ease-in-out;
}

.button-primary:hover {
    background: var(--color-primary-light);
    cursor: pointer;
}

.about {
    background-color: var(--color-light-xl);
    min-height: 588px;
}

.about-content {
    max-width: 850px;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 120px;
}

.left-align-text {
    width: 430px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {
    width: 350px;
}

.about-paragraph {
    font: var(--paragraph-l);
    color: var(--color-dark-xl);
}

.our-friends {
    background-color: var(--color-light-l);
    height: 877px;
    display: flex;
}

.our-friends-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.text-centered {
    text-align: center;
}

.slider {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.cards {
    max-width: 990px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* новое, для слайдера */
    /* position: relative; */
    overflow: hidden;
    transition: transform 0.5s ease;
}

.card {
    width: 270px;
    height: 435px;
    border-radius: 9px;
    background: var(--color-light-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transition: all 0.3s ease-in-out;
    opacity: 1; /*для скрытия*/
    /* z-index: 0; */
}

.card.to-left {
    transform: translateX(-400%);
    opacity: 0;
}

.card.to-right {
    transform: translateX(400%);
    opacity: 0;
}

.card:hover {
    background: var(--color-light-xl);
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.button-secondary {
    border: 2px solid var(--color-primary);
    border-radius: 100px;
    width: 187px;
    height: 52px;
    background: transparent;
    font: var(--button-text);
    letter-spacing: 0.06em;
    white-space: nowrap;
    transition: 0.4s ease-in-out;
}

.card:hover .button-secondary {
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    cursor: pointer;
}

.button-arrow {
    border-radius: 100px;
    border: 2px solid var(--color-primary);
    background: transparent;
    height: 52px;
    width: 52px;
    color: var(--color-dark-3xl);
    transition: 0.4s ease-in-out;
}

.button-arrow:hover {
    background: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    cursor: pointer;
}

.button-arrow:active {
    border-color: var(--color-primary);
    background: var(--color-primary);
}

.get-to-know-btn {
    width: 261px;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 9px;
    max-width: 900px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: var(--color-light-s);
    display: flex;
    align-items: center;
    z-index: 1000;
}
.modal-window.invisible {
    display: none;
}

.modal-window-content {
    transform: translateY(-18px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    width: 351px;
    height: 362px;
    margin-left: 30px;
}

.modal-window-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 78px;
}

.modal-window-image {
    height: 100%;
    border-radius: 9px;
}

.pet-info-list {
    margin: 0;
    padding-left: 13px;
    font: 15px/1.1 Georgia, serif;
    letter-spacing: 0.06em;
    text-decoration: auto;
    list-style-type: disc;
    line-height: 1.9em;
}

li::marker {
    color: var(--color-primary);
    font-size: 12px;
}

.cross {
    position: fixed;
    right: -42px;
    top: -52px;
}

.help {
    background-color: var(--color-light-xl);
    min-height: 611px;
    display: flex;
}

.help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.help-list {
    padding: 60px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px 120px;
}

.help-list-item {
    height: 113px;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.donation {
    background-color: var(--color-light-l);
    min-height: 462px;
    display: flex;
}

.donation-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.donation-text {
    width: 380px;
    height: 282px;
}

.donation-title {
    width: 300px;
}

.button-credit-card {
    background: var(--color-primary);
    border-radius: 9px;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    transition: 0.4s ease-in-out;
}

.button-credit-card:hover {
    background: var(--color-primary-light);
    cursor: pointer;
}

.payment-info-text {
    font: italic 12px/1.5 Arial, sans-serif;
    color: var(--color-dark-m);
}

.footer {
    background: var(--footer-gradient-background), url("./assets/img/start-screen-bg.png"), radial-gradient(at 5.73% 50%, rgb(81, 61, 47) 0%, rgb(26, 26, 28) 100%);
}

.footer-content {
    padding-top: 40px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 5%;
}

.footer-text {
    padding-bottom: 60px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for-questions {
    width: 280px;
}

.we-are-waiting {
    width: 302px;
}

.footer-title {
    color: var(--color-light-xl);
}

.footer-link-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-link {
    color: var(--color-primary);
    transition: 0.3s ease-in-out;
}

.footer-link-svg {
    stroke: var(--color-primary);
    transition: stroke 0.3s ease-in-out;
}

.footer-link-container:hover .footer-link {
    color: var(--color-light-s);
}

.footer-link-container:hover .footer-link-svg {
    stroke: var(--color-light-s);
}

@media (min-width: 769px) and (max-width: 1279px) {

    .start-screen-content {
        min-height: 1015px;
        /*width: 100%;*/
        /* display: flex; */
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center;
    }

    .not-only {
        margin-top: 80px;
    }

    .start-screen-puppy {
        width: 70%;
        /* height: auto; */
        /* max-width: 593px;
        max-height: 569px; */
        align-self: flex-end;
    }

    .card:nth-child(n+3) {
        display: none;
    }
    
}

@media (max-width: 1000px) {

    .modal-window {
        max-width: 630px;
        max-height: 350px;
    }

    .modal-window-content {
        margin-left: 10px;
        width: 262px;
        height: 303px;
        gap: 20px;
    }

    .modal-window-content > h5 {
        font-size: 13px;
    }

    .pet-info-list {
        line-height: 1.5em;
    }
}

@media (max-width: 768px) {

    .block {
        padding: 80px 30px 100px 30px;
    }

    .header-container {
        min-height: 1135px;
        padding: 30px 30px 0px 30px;
    }

    .start-screen-content {
        min-height: 1015px;
        /*width: 100%;*/
        /* display: flex; */
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center;
    }

    .not-only {
        margin-top: 0px;
    }

    .make-a-friend-btn {
        align-self: center;
    }

    .start-screen-puppy {
        width: 80.5%;
        /* height: auto; */
        /* max-width: 593px;
        max-height: 569px; */
        align-self: flex-end;
    }

    .about {
        /* background-color: var(--color-light-xl); */
        min-height: 1048px;
    }

    .about-content {
        width: auto;
        min-height: 868px;
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        gap: 80px;
    }

    .slider {
        width: 100%;
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        /* gap: 12px; */
    }

    .cards {
        width: 580px;
        /* display: flex; */
        /* justify-content: space-between; */
    }

    .card:nth-child(n+3) {
        display: none;
    }

    .help {
        /* background-color: var(--color-light-xl); */
        min-height: 779px;
        /* display: flex; */
    }

    .help-list {
        /* padding: 60px auto 0px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; */
        gap: 55px 60px;
    }

    .help-list-item {
        width: 170px;
        /* height: 113px;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; */
    }
    
    .donation {
        /* background-color: var(--color-light-l); */
        height: 783px;
        /* display: flex; */
    }
    
    .donation-content {
        /* display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center; */
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: auto;
    }

    .footer-content {
        /* width: 100%; */
        padding-top: 30px;
        padding-bottom: 0;
        /* display: flex; */
        justify-content: center;
        /* align-items: end; */
        flex-wrap: wrap;
        /* align-items: center; */
        column-gap: 60px;
    }
}

@media (max-width: 728px) {

    .modal-window {
        max-width: 240px;
        min-height: 341px;
        flex: 1;
        height: auto;
        justify-content: center;
        /* align-items: center; */
    }

    .modal-window-image {
        display: none;
    }

    .modal-window-header {
        align-items: center;
    }

    .modal-window-header > h4 {
        text-align: center;
    }

    .modal-window-header > h3 {
        font: 35px/1.3 Georgia, serif;
    }

    .modal-window-content {
        transform: none;
        margin: 0;
        width: 220px;
        height: 321px;
        text-align: justify;
    }

    .cross {
        right: -30px;
    }
}

@media (min-width: 319px) and (max-width: 767px) {
    
    .navigation {
        position: fixed;
        top: 0;
        right: -320px;
        width: 320px;
        background-color: var(--color-dark-3xl);
        height: 100%;
        transition: right 0.5s ease;
    }

    .navigation.active {
        top: 0;
        right: 0;
    }

    .nav-menu {
        right: -320px;
        margin-top: 246px;
        margin-right: 38px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font: var(--paragraph-mobile-menu);
        width: auto;
    }

    .burger-menu {
        display: flex;
        transition: transform 0.5s ease;
        transform: rotate(0deg);
    }

    .burger-menu.close-menu-active {
        transform: rotate(90deg);
    }

    

    /* .about-paragraph {
        font-size: 4vw;
    } */

    .slider {
        width: 100%;
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
        gap: auto;
    }

    .cards {
        width: 100%;
        /* display: flex; */
        /* justify-content: space-between; */
        justify-content: center;
    }

    .card:nth-child(n+2) {
        display: none;
    }

    .donation-dog {
        width: 87%;
    }
}

@media (min-width: 319px) and (max-width: 460px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* margin: 0; */
        /* box-sizing: border-box; */
        text-align: center;
    }

    h2, h3 {
        font: 25px/1.3 Georgia, serif;
        width: 300px;
        letter-spacing: 0.06em;
    }

    p {
        text-align: justify;
    }

    .block {
        padding: 42px 10px 42px 10px;
    }

    /* .start-screen-content {
        min-height: 823px;
    }

    .start-screen-title, .start-screen-paragraph {
        width: 100%;
    } */

    .not-only {
        width: 100%;
        height: 296px;
        /* margin-top: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
        align-items: center;
    }

    .about-title {
        width: auto;
    }

    .start-screen-puppy {
        width: 87%;
        /* height: auto; */
        /* max-width: 593px;
        max-height: 569px; */
        /* align-self: flex-end; */
    }

    .left-align-text {
        width: 90%;
        height: 494px;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: space-between; */
        align-items: center;
    }

    .slider {
        width: 100%;
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        gap: 20px 80px;
    }

    .cards {
        width: 100%;
        /* display: flex; */
        /* justify-content: space-between; */
        justify-content: center;
    }

    .button-arrow:nth-child(odd) {
        order: 3;
    }

    .help-list-item > h4 {
        font: 15px/1.1 Georgia, serif;
        color: var(--color-dark-l);
        letter-spacing: 0.06em;
    }

    .help {
        /* background-color: var(--color-light-xl); */
        height: 745px;
        /* display: flex; */
    }

    .help-list {
        /* padding: 60px auto 0px auto;
        display: flex;
        flex-wrap: wrap; */
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-between;
        gap: 30px;
    }

    .help-list-item {
        width: 130px;
        height: 87px;
        /* box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; */
    }
    
    .help-icon {
        width: 38%;
    }

    .donation {
        /* background-color: var(--color-light-l); */
        min-height: 542px;
        /* display: flex; */
    }
    
    .donation-content {
        /* display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center; */
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: auto;
    }

    .donation-text {
        width: 280px;
        height: 282px;
    }

    .donation-dog {
        width: 87%;
    }

    .donation-text > h5 {
        letter-spacing: 0em;
    }

    .button-credit-card {
        /* background: var(--color-primary);
        border-radius: 9px;
        padding: 10px 15px; */
        max-width: 300px;
        height: 43px;
        align-items: center;
        /* display: flex;
        justify-content: space-between;
        transition: 0.4s ease-in-out; */
    }

    .button-credit-card > .h4 {
        font: 15px/1.1 Georgia, serif;
        color: var(--color-dark-l);
        letter-spacing: 0.06em;
    }

    .footer-content {
        padding-bottom: 0%;
    }
}

@media (max-width: 320px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* margin: 0; */
        /* box-sizing: border-box; */
        text-align: center;
    }

    p {
        text-align: justify;
    }

    .block {
        padding: 42px 10px 42px 10px;
    }

    .header-container {
        min-height: 793px;
        padding: 30px 10px 0px 10px;
    }

    .header {
        width: 94%;
    }

    /* .nav-menu {
        display: none;
    } */

    /* .burger-menu {
        display: flex;
    } */

    .start-screen-content {
        min-height: 673px;
        /*width: 100%;*/
        /* display: flex; */
        /* justify-content: space-between; */
        flex-direction: column;
        align-items: center;
    }

    .not-only {
        width: 300px;
        height: 296px;
        /* margin-top: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; */
        align-items: center;
    }

    .start-screen-paragraph {
        text-align: center;
    }

    h2, h3 {
        font: 25px/1.3 Georgia, serif;
        width: 300px;
        letter-spacing: 0.06em;
    }

    .start-screen-puppy {
        width: 87%;
        /* height: auto; */
        /* max-width: 593px;
        max-height: 569px; */
        /* align-self: flex-end; */
    }

    .about {
        /* background-color: var(--color-light-xl); */
        min-height: 974px;
    }

    .about-content {
        /* width: auto; */
        /* height: 890px; */
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
        /* flex-direction: column-reverse; */
        gap: 42px;
    }

    .left-align-text {
        width: 90%;
        height: 494px;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: space-between; */
        align-items: center;
    }

    .about-cat-dog {
        width: 87%;
    }

    .our-friends {
        height: 791px;
    }

    .slider {
        width: 100%;
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        gap: 20px 80px;
    }

    .cards {
        width: 100%;
        /* display: flex; */
        /* justify-content: space-between; */
        justify-content: center;
    }

    .button-arrow:nth-child(odd) {
        order: 3;
    }

    .card:nth-child(n+2) {
        display: none;
    }

    .help-list-item > h4 {
        font: 15px/1.1 Georgia, serif;
        color: var(--color-dark-l);
        letter-spacing: 0.06em;
    }

    .help {
        /* background-color: var(--color-light-xl); */
        min-height: 745px;
        /* display: flex; */
    }
    .help-content {
        gap: 0%;
    }

    .help-list {
        /* padding: 60px auto 0px auto;
        display: flex;
        flex-wrap: wrap; */
        margin-left: 5px;
        margin-right: 5px;
        justify-content: space-between;
        gap: 30px;
    }

    .help-list-item {
        width: 130px;
        height: 87px;
        /* box-sizing: content-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; */
    }
    
    .help-icon {
        width: 38%;
    }

    .donation {
        /* background-color: var(--color-light-l); */
        height: 542px;
        /* display: flex; */
    }
    
    .donation-content {
        /* display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center; */
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: auto;
    }

    .donation-text {
        width: 280px;
        height: 282px;
    }

    .donation-dog {
        width: 87%;
    }

    .donation-text > h5 {
        letter-spacing: 0em;
    }

    .button-credit-card {
        /* background: var(--color-primary);
        border-radius: 9px;
        padding: 10px 15px; */
        width: 281px;
        height: 43px;
        align-items: center;
        /* display: flex;
        justify-content: space-between;
        transition: 0.4s ease-in-out; */
    }

    .button-credit-card > .h4 {
        font: 15px/1.1 Georgia, serif;
        color: var(--color-dark-l);
        letter-spacing: 0.06em;
    }

    .footer-content {
        /* width: 100%; */
        padding-top: 30px;
        padding-bottom: 0;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* align-items: center; */
        column-gap: 60px;
    }

    .footer-text {
        padding-bottom: 40px;
        height: auto;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        align-items: center;
        gap: 40px;
    }

    .footer-title {
        width: 270px;
    }
    
    .footer-link {
        text-align: left;
    }

    .last-footer-link {
        align-self: start;
    }

    .footer-puppy {
        width: 87%;
    }
}