:root {
    --color-purple-s: #8978D0;
    --color-purple-m: #56506f;
    --color-dark-bg: #161618;
    --color-light-text: #f7edff;
    --footer-text: bold 1.4rem Arial, sans-serif;
}

body {
    background: var(--color-dark-bg);
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
}

main {
    background-image: url("./img/shooting-gallery-bg.png");
    height: 100%;
}

footer {
    background-color: black;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    height: 10dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10dvh;
    font: var(--footer-text);
    /* color: var(--color-purple-m); */
    /* gap: 20dvw; */
}

.github {
    display: flex;
    align-items: center;
    gap: 1dvw;
}

.text {
    color: var(--color-purple-m);
    font-size: 22px;
}

.logo {
    height: 7dvh;
}